---
import { getCollection } from "astro:content";
import PostPreview from "../../components/PostPreview.astro";
import BaseLayout from "../../layouts/BaseLayout.astro";

let entries = await getCollection('posts');
entries = entries.sort((a, b) => b.data.datePosted.getTime() - a.data.datePosted.getTime());
---
<BaseLayout title="Josh Freedman">
    <section>
        <header>
            <h2>All Posts</h2>
        </header>
        <div class="posts-container">
            {entries.map((entry) => (
                <PostPreview 
                    title={entry.data.title}
                    tagline={entry.data.tagline}
                    datePosted={entry.data.datePosted}
                    slug={entry.slug}
                    tags={entry.data.tags}
                />
            ))}
        </div>
    </section>
</BaseLayout>

<style>
    section {
        display: flex;
        gap: 2rem;
        flex-direction: column;
    }
    .posts-container {
        display: flex;
        gap: 1.5rem;
        flex-direction: column;
    }
</style>