---
import Tags from "./Tags.astro";

const { title, tagline, datePosted, slug, tags } = Astro.props;
const formatter = new Intl.DateTimeFormat('en-US', {day: '2-digit', month: 'long', year: 'numeric'});
---
<article>
    <h3>
        <a href={`/posts/${slug}`}>{title}</a>
    </h3>
    <small>
        <time datetime={datePosted.toISOString()} title={datePosted.toLocaleString()}>
            {formatter.format(datePosted)}
        </time>
    </small>
    <small>{tagline}</small>
    {tags.length > 0 ? <Tags tags={tags} /> : null}
</article>

<style>
    article {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }
</style>