---
import Tags from "./Tags.astro";

interface Props {
    title: string;
    tagline: string;
    datePosted: Date;
    slug: string;
    tags: string[];
}

const { title, tagline, datePosted, slug, tags } = Astro.props;
const publicFormatter = new Intl.DateTimeFormat('en-US', {
    day: '2-digit',
    month: 'long',
    year: 'numeric'
});
const titleFormatter = new Intl.DateTimeFormat('en-US', {
    dateStyle: "long",
    timeStyle: "long"
});
---
<article>
    <h3>
        <a href={`/posts/${slug}`}>{title}</a>
    </h3>
    <small>
        <time datetime={datePosted.toISOString()} title={titleFormatter.format(datePosted)}>
            {publicFormatter.format(datePosted)}
        </time>
    </small>
    <small>{tagline}</small>
    {tags.length > 0 ? <Tags tags={tags} /> : null}
</article>

<style>
    article {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }
</style>