---
interface Props {
	title: string;
	description?: string;
}

const { title, description } = Astro.props;
const pathname = Astro.url.pathname;
const url = Astro.url;
---
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta name="author" content="Josh Freedman" />
		{description && <meta name="description" content={description} />}
		<meta name="og:site_name" content="Josh Freedman's Blog" />
		<meta name="og:title" content={title} />
		{description && <meta name="og:description" content={description} />}
		<meta name="og:url" content={url} />
		<title>{title}</title>
	</head>
	<body>
		<div class="container">
			<nav>
				<a class="navlink" aria-current={pathname === "/" ? "page" : undefined} href="/">Home</a>
				<a class="navlink" aria-current={pathname === "/about" || pathname === "/about/" ? "page" : undefined} href="/about">About</a>
				<a class="navlink" aria-current={pathname.startsWith("/posts") ? "page" : undefined} href="/posts">Posts</a>
				<a class="navlink" href="https://src.freedman.dev" target="_blank" rel="noreferrer">Code</a>
				<a
					class="navlink"
					href="https://hachyderm.io/@joshfreedman"
					target="_blank"
					rel="me"
				>
					Mastodon
				</a>
				<a class="navlink" target="_blank" href="/rss.xml">RSS</a>
			</nav>
			<header>
				<h1>Josh Freedman</h1>
				Software developer, cat haver, wanna-be rock climber and runner.
			</header>
			<main>
				<slot />
			</main>
			<footer>
                <span>
                    <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">
                        <img alt="Creative Commons License" src="https://i.creativecommons.org/l/by/4.0/80x15.png" />
                    </a>
                </span>
                <span>
                    This work is licensed under a
                    <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">
                        CC BY 4.0 license
                    </a>.
                </span>
               
            </footer>
		</div>
	</body>
</html>

<style is:global>
	:root {
		--default-transition: all 100ms;
        scroll-behavior: smooth;
	}
	html {
		font-family: sans-serif;
	}
	body {
		margin: 0;
        background: hsl(250, 0%, 90%);
		transition: var(--default-transition);
	}
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		margin: 0;
	}
    a {
        all: unset;
        text-decoration-line: underline;
        text-decoration-style: dotted;
        cursor: pointer;
		transition: var(--default-transition);
    }
    a:hover {
        text-decoration-style: solid;
    }
	a:focus {
		outline: 3px solid hsl(250, 100%, 50%);
	}

	@media (prefers-color-scheme: dark) {
		body {
			background: hsl(250, 0%, 20%);
			color: white;
		}
		a:focus {
			outline-color: hsl(250, 50%, 70%);
		}
	}
</style>

<style>
	.container {
		display: flex;
		flex-direction: column;
        margin: 0 auto;
        max-width: 1200px;
	}
	.navlink {
		all: unset;
		cursor: pointer;
		padding: 1rem;
		transition: var(--default-transition);
	}
	.navlink:hover {
		background-color: hsl(250, 0%, 80%);
	}
	.navlink:focus {
		outline: 3px solid hsl(250, 100%, 50%);
	}
	.navlink[aria-current] {
		text-decoration: underline;
	}
	header {
		padding: 2rem;
		background-color: hsl(250, 100%, 70%);
        color: white;
		transition: var(--default-transition);
	}
    main {
        padding: 2rem;
        background-color: white;
		transition: var(--default-transition);
    }
    footer {
        text-align: center;
        display: flex;
        flex-direction: column;
        padding: 2rem;
    }
    nav {
		display: flex;
		background: hsl(250, 0%, 90%);
        overflow-x: auto;
		transition: var(--default-transition);
	}

	@media (prefers-color-scheme: dark) {
		header {
			background-color: hsl(250, 50%, 30%);
        	color: white;
		}
		nav {
			background: hsl(250, 0%, 20%);
		}
		main {
        	background: hsl(250, 0%, 25%);
    	}
		.navlink:hover {
			background-color: hsl(250, 0%, 30%);
		}
		.navlink:focus {
			outline-color: hsl(250, 50%, 70%);
			
		}
	}
</style>
